<div class="container">
  <div class="containetText">
    <h1>{{title}}</h1>
  </div>
  <app-display-cronometro [hours]="hours" [minuts]="minuts" [secs]="secs"
  [mns]="mns"></app-display-cronometro>

  <div class="bttns">
    <app-button-components  [text]="text_start" (clickEvent)="start()"></app-button-components>
    <app-button-components  [text]="text_pause" (clickEvent)="pause()"></app-button-components>

    <app-button-components [text]="text_reset" (clickEvent)="reset()"></app-button-components>
  </div>
</div>
