<div class="container">
  <div class="containetText">
    <h1>{{title}}</h1>
  </div>
  <app-display-cronometro [hours]="hours" [minuts]="minuts" [secs]="secs"></app-display-cronometro>

  <div class="bttns">
    <div class="bttnStart">
      <button (click)="save(secs)">Save</button>
    </div>
    <div class="bttnStart">
      <button (click)="start()">Start</button>
    </div>
    <div class="bttnStart">
      <button (click)="pause()">Pause</button>
    </div>
    <div class="bttnStart">
      <button (click)="reset()">Reset</button>
    </div>
  </div>
</div>
